orm/src/main/resources/ru/kwanza/dbtool/orm/springintegration/dbtool-orm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.kwanza-systems.ru/schema/dbtool-orm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.kwanza-systems.ru/schema/dbtool-orm">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="entityMapping">
        <xsd:complexType>
            <xsd:attribute name="scan-package" type="xsd:string" use="required"/>
            <xsd:attribute name="id" type="xsd:ID"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

